<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" th:with="activeMenuItem='tours'">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
<main>
    <section layout:fragment="page-content">
        <div class="bg-white p-6 rounded shadow mb-8">
            <h1 class="text-3xl font-bold mb-4">Tours</h1>
            <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacus vehicula, posuere justo vitae, auctor tortor.</p>
            <a th:href="@{/tours/add}">add order</a>
        </div>

        <div class="bg-white p-6 rounded shadow mb-8">
            <h2 class="text-2xl font-semibold mb-4">Tour List</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white rounded-lg shadow">
                    <thead>
                    <tr class="bg-gray-200">
                        <th th:replace="~{fragments/table :: header(title=#{orders.name})}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{orders.phone},hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{orders.tour},hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{orders.guide},hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{orders.date},hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{orders.action})}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}" class="border-b border-gray-200 hover:bg-gray-100">

                        <td th:replace="~{fragments/table :: data(contents=${order.userName.fullName},primary=true)}"></td>
                        <td th:replace="~{fragments/table :: data(contents=${order.phone.phone},hideOnMobile=true)}"></td>
                        <td th:replace="~{fragments/table :: data(contents=${order.tour},hideOnMobile=true)}"></td>
                        <td th:replace="~{fragments/table :: data(contents=${order.guide},hideOnMobile=true)}"></td>
                        <td th:replace="~{fragments/table :: data(contents=${order.date},hideOnMobile=true)}"></td>
                        <td th:replace="~{fragments/table :: dataWithLink(#{orders.edit}, @{/tours/edit/{id}(id=${order.id.asString()})})}"></td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="~{fragments/pagination :: controls(page=${orders})}"></div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
