<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<header th:replace="fragments/header::header"></header>
<section layout:fragment="page-content" class="container mx-auto p-4">
</section>
<script type="text/javascript" th:src="@{/webjars/alpinejs/dist/cdn.min.js}" defer
></script> <th:block layout:fragment="page-scripts">
    <script type="text/javascript">
        function userPopupMenu(){
            return{
                show: false,
                toggleVisibility() {
                    this.show = !this.show;
                },
                close(){
                    this.show = false;
                },
                isVisible() {
                    return this.show;
                }
            }
        }
    </script>
</th:block>
</body>

</html>